<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/head') %>
</head>
<body>

    <%- include('./components/nav') %>
    
    <header>
        <img src="https://nitter.net/pic/https%3A%2F%2Fpbs.twimg.com%2Fprofile_banners%2F2975322304%2F1442064450%2F1500x500" alt="">
    </header>
    
    <main>    

        <section id="cards">

            <h2>Lista de pokemons</h2>

            <% pokedex.forEach((pokemon) => { %>
        
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h3><%= pokemon.nome %></h3>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <p>Tipo: <%= pokemon.tipo %></p>
                    <p>Altura: <%= pokemon.altura %></p>
                    <p>Peso: <%= pokemon.peso %></p>
                    <p>Habilidade: <%= pokemon.habilidade %></p>
                    <a id="editar" href="/detalhes/<%= pokemon.id %>">Editar</a>
                    <a id="deletar" href="/delete/<%= pokemon.id %>">Apagar</a>
                </div>
        
            <%  })  %>
            </section>
            
    </main>
    
    <%- include('./components/footer') %>   

</body>
</html>