<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/head') %>
</head>
<body>

    <%- include('./components/nav') %>
    
    <header>
        <img src="https://nitter.net/pic/https%3A%2F%2Fpbs.twimg.com%2Fprofile_banners%2F2975322304%2F1442064450%2F1500x500" alt="">
        <% if(message != "") { %>
            <%- include('./components/alerts') %>
        <% } %>

    </header>
    
    <main>    

        <section id="cards">

            <% pokedex.forEach((pokemon) => { %>
        
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h3><%= pokemon.nome %></h3>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <p>Tipo: <%= pokemon.tipo %></p>
                    <p>Altura: <%= pokemon.altura %></p>
                    <p>Peso: <%= pokemon.peso %></p>
                    <p>Habilidade: <%= pokemon.habilidade %></p>
                    <a id="editar" href="/getById/<%= pokemon.id %>/put">Editar</a>
                    <a id="deletar" href="/getById/<%= pokemon.id %>/delete">Apagar</a>
                </div>
        
            <%  })  %>
            </section>
            
    </main>

    <% if(pokemonPut != null){%>
        <%- include('./components/modalPut') %> 
    <% } %>

    <% if(pokemonDel != null){%>
        <%- include('./components/modalDel') %> 
    <% } %>
    
    <%- include('./components/footer') %>   

    <script src="/script.js"></script>
</body>
</html>